*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f2f2f2;
}

.header{
background:#0088cc;
color:#000000;
text-align:center;
padding:30px;
}

.header h1{
font-size:58px;
color:white;
}

.header p{
margin-top:8px;
font-size:18px;
}

.navbar{
background:#d50000;
}

.navbar ul{
display:flex;
justify-content:center;
flex-wrap:wrap;
list-style:none;
}

.navbar ul li{
border-right:1px solid #fff;
}

.navbar ul li:last-child{
border:none;
}

.navbar ul li a{
display:block;
padding:15px 20px;
text-decoration:none;
color:#fff;
font-weight:bold;
}

.navbar ul li a:hover{
background:#0d6efd;
}

.search-box{
display:flex;
justify-content:center;
margin:20px;
}

.search-box input{
width:420px;
padding:12px;
border:1px solid #ccc;
border-radius:5px 0 0 5px;
outline:none;
}

.search-box button{
padding:12px 18px;
border:none;
background:#0d6efd;
color:#fff;
cursor:pointer;
border-radius:0 5px 5px 0;
}

.social{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-bottom:20px;
}

.social a{
padding:12px 20px;
text-decoration:none;
color:#fff;
font-weight:bold;
border-radius:5px;
}

.youtube{
background:#ff0000;
}

.whatsapp{
background:#25d366;
}

.telegram{
background:#0088cc;
}

.top-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
padding:15px;
}

.box{
background:#0d6efd;
color:#fff;
text-align:center;
padding:18px;
font-weight:bold;
border-radius:5px;
}

.container{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:20px;
}

.card{
background:#fff;
border:2px solid #0d6efd;
}

.card h2{
background:#0d6efd;
color:#fff;
text-align:center;
padding:10px;
}

.card ul{
list-style:none;
padding:15px;
}

.card ul li{
padding:10px 0;
border-bottom:1px solid #ddd;
font-size:15px;
}

.card ul li:last-child{
border:none;
}

footer{
background:#0d6efd;
color:#fff;
text-align:center;
padding:15px;
margin-top:20px;
}

@media(max-width:992px){

.container{
grid-template-columns:1fr;
}

.top-grid{
grid-template-columns:1fr 1fr;
}

}


@media(max-width:600px){

.navbar ul{
flex-direction:column;
}

.search-box{
flex-direction:column;
align-items:center;
}

.search-box input{
width:95%;
border-radius:5px;
margin-bottom:10px;
}

.search-box button{
width:95%;
border-radius:5px;
}

.top-grid{
grid-template-columns:1fr;
}


.header h1{
font-size:28px;
}

}
.photo{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.header{
    background:#45A4FF;
    padding:10px 20px;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
    height:70px;
    border-radius:50%;
    object-fit:cover;
}

.logo-text h1{
    margin:0;
    color:#fff;
    font-size:30px;
}

.logo-text p{
    margin:5px 0 0;
    color:#fff;
    font-size:16px;
}

/*.navbar{
    background:#d90000;
}

.menu{
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
}

.menu li{
    position:relative;
}

.menu li a{
    display:block;
    color:#fff;
    text-decoration:none;
    padding:12px 15px;
    font-size:15px;
}

.menu li a:hover{
    background:#b00000;
}

.dropdown-menu{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    min-width:220px;
    background:#fff;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
    list-style:none;
    padding:0;
    margin:0;
}

.dropdown-menu li a{
    color:#000;
    padding:10px;
    border-bottom:1px solid #ddd;
}

.dropdown-menu li a:hover{
    background:#f2f2f2;
}

.dropdown.active .dropdown-menu{
    display:block;
}

/* Mobile */

/* @media(max-width:768px){

.menu{
    display:block;
}

.dropdown-menu{
    position:static;
    width:100%;
}

}
*/